<div id="buglist-filters">
    <button id="buglist-filter-all-button" ng-click="statusFilter = ''" class="filter-button">ALL</button>
    <button id="buglist-filter-open-button" ng-click="statusFilter = 'Open'" class="filter-button">OPEN</button>
    <button id="buglist-filter-closed-button" ng-click="statusFilter = 'Closed'" class="filter-button">CLOSED</button>
    <button id="buglist-filter-advanced-button" class="filter-button">ADVANCED FILTERS</button>
</div>

<div id="buglist-list">
    <div ng-repeat="bug in bugs | filter:{bug_status:statusFilter}" class="buglist-item button rect-button" ng-class="{'open-showstopper': bug.bug_severity === 'Showstopper' && bug.bug_status === 'Open', 'closed-showstopper': bug.bug_severity === 'Showstopper' && bug.bug_status === 'Closed', 'active-bug': bug.active === true}" ng-click="setActive()">
        <div class="buglist-item-tagline" ng-class="{'open-bug': bug.bug_status === 'Open', 'closed-bug': bug.bug_status === 'Closed'}">
            <span class="buglist-item-id">{{ bug.bug_id }}</span>
            <span class="buglist-item-date">{{ bug.bug_created_date | date }}</span>
        </div>
        <div class="buglist-item-title">{{ bug.bug_title }}</div>
    </div>
</div>