/************************
**** PROJECTS COLUMN ****
************************/

#projects {
  /* Size and Position */
  display: block;
  height: 100%;
  left: 0;
  padding: 4px;
  position: absolute;
  width: 15%;

  /* Styling */
  background-color: #222;
  border-right: 3px solid #444;
}

#project-list {
  /* Size and Position */
  display: inline-block;
  height: 94%;
  margin-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 5%;
  width: 97%;

  /* Styling */
  background-color: #222;
  overflow-y: auto;
}

#add-project-button {
  /* Size and Position */
  display: inline;
  float: right;
  height: 30px;
  margin-right: 3px;
  width: 30px;

  /* Styling */
  background-color: #373;
  border-radius: 15px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  transition: all 0.2s ease;
}

#add-project-button:hover {
  /* Size and Position */
  /* Styling */
  background-color: #bbb;
  color: #373;
}

#archive-project-button {
  /* Size and Position */
  display: inline;
  float: right;
  height: 30px;
  width: 30px;
  margin-right: 3px;

  /* Styling */
  background-color: #733;
  border-radius: 15px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  transition: all 0.2s ease;
}

#archive-project-button:hover {
  /* Size and Position */
  /* Styling */
  background-color: #bbb;
  color: #733; 
}

.project-item {
  /* Size and Position */
  height: 50px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  /* Styling */
  background-color: #33333b;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-item:first-of-type {
  /* Size and Position */
  margin-top: 10px;

  /* Styling */
}

.project-item:last-of-type {
  /* Size and Position */
  margin-bottom: 10px;

  /* Styling */
}

.active-project {
  /* Size and Position */
  /* Styling */
  border-right: 7px solid #bbb;
}