/*******************
**** BUG COLUMN ****
*******************/

#bug {
  /* Size and Position */
  display: inline-block;
  height: 100%;
  left: 40%;
  padding: 3px;
  position: absolute;
  width: 60%;

  /* Styling */
  overflow-y: auto; 
}