/*******************
**** BUG COLUMN ****
*******************/

#bug {
  /* Size and Position */
  display: inline-block;
  height: 100%;
  left: 40%;
  padding: 4px;
  position: absolute;
  width: 60%;

  /* Styling */
  overflow-y: auto; 
}

#bug-container {
  /* Size and Position */
  display: inline-block;
  height: 94%;
  margin-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 5%;
  width: 99%;
  /* Styling */
  
}

#bug-info {
  /* Size and Position */
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 73.5%;
  /* Styling */
  overflow-y: auto;
}

#bug-title {
  /* Size and Position */
  display: inline-block;
  /*height: 40px;*/
  max-height: 80px;
  /* Styling */
  border-bottom: 3px solid #bbb;
  font-size: 26px;
  font-weight: bold;
  line-height: 38px;
  overflow-y: auto;
}

#bug-description {
  /* Size and Position */
  margin: 10px 5px 0 0;
  max-height: 160px;
  /* Styling */
  font-size: 20px;
  font-weight: bold;
}

#bug-description-text {
  /* Size and Position */
  margin: 10px 0 0 10px;
  max-height: 127px;
  /* Styling */
  font-weight: normal;
  overflow-y: auto;
}

#bug-reprosteps {
  /* Size and Position */
  margin: 10px 5px 0 0;
  /* Styling */
  font-size: 20px;
  font-weight: bold;
}

#bug-reprosteps-text {
  /* Size and Position */

  /* Styling */
  font-weight: normal;
}

#bug-reprosteps-text > ol {
  /* Size and Position */
  margin: 10px 0;
  /* Styling */
}

#bug-observed {
  /* Size and Position */
  margin: 10px 5px 0 0;
  max-height: 160px;
  /* Styling */
  font-size: 20px;
  font-weight: bold;
}

#bug-observed-text {
  /* Size and Position */
  margin: 10px 0 0 10px;
  max-height: 127px;
  /* Styling */
  font-weight: normal;
  overflow-y: auto;
}

#bug-expected {
  /* Size and Position */
  margin: 10px 5px 0 0;
  max-height: 160px;
  /* Styling */
  font-size: 20px;
  font-weight: bold;
}

#bug-expected-text {
  /* Size and Position */
  margin: 10px 0 0 10px;
  max-height: 127px;
  /* Styling */
  font-weight: normal;
  overflow-y: auto;
}

#bug-notes {
  /* Size and Position */
  margin: 10px 5px 0 0;
  /* Styling */
  font-size: 20px;
  font-weight: bold;
}

#bug-notes-text {
  /* Size and Position */

  /* Styling */
  font-weight: normal;
}

#bug-notes-text > ol {
  /* Size and Position */
  margin: 10px 0;
  /* Styling */
}

#bug-attachments {
  /* Size and Position */
  margin: 10px 5px 0 0;
  /* Styling */
  font-size: 20px;
  font-weight: bold;
}

#bug-attachments-text {
  /* Size and Position */

  /* Styling */
  font-weight: normal;
}

#bug-attachments-text > ol {
  /* Size and Position */
  margin: 10px 0;
  /* Styling */
}

#bug-comments {
  /* Size and Position */
  margin: 10px 5px 0 0;
  max-height: 160px;
  /* Styling */
  font-size: 20px;
  font-weight: bold;
}

#bug-comments-text {
  /* Size and Position */
  margin: 10px 0 0 10px;
  max-height: 127px;
  /* Styling */
  font-weight: normal;
  overflow-y: auto;
}

#bug-metadata {
  /* Size and Position */
  left: 75%;
  height: 100%;
  padding-left: 5px;
  position: absolute;
  width: 25%;
  /* Styling */
  /*border-left: 1px solid #bbb;*/
  font-size: 20px;
}

.metadata {
  /* Size and Position */
  display: inline-block;
  margin-bottom: 15px;
  width: 99%;  
  /* Styling */
  font-weight: bold;
}

.metadata-text {
  /* Size and Position */
  display: inline-block;
  float: right;
  /* Styling */
  font-weight: normal;
}
