/***********************
**** BUGLIST COLUMN ****
***********************/

#buglists {  
  /* Size and Position */
  display: inline-block;
  height: 100%;
  padding: 4px;
  position: absolute;
  width: 25%;
  left: 15%;

  /* Styling */
  border-right: 3px solid #444;
}

#buglist-filters {
  /* Size and Position */
  display: inline-block;
  height: 36px;
  padding: 3px;
  width: 100%;

  /* Styling */
  border-bottom: 3px solid #444;
}

.filter-button {
  /* Size and Position */
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  padding-left: 3px;
  padding-right: 3px;
  /* Styling */
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#buglist-filter-all-button {
  /* Size and Position */
  
  /* Styling */
  background-color: #33333b;
}

#buglist-filter-all-button:hover {
  /* Size and Position */
  
  /* Styling */
  background-color: #bbb;
  color: #33333b;
}

#buglist-filter-open-button {
  /* Size and Position */
  
  /* Styling */
  background-color: #533;
}

#buglist-filter-open-button:hover {
  /* Size and Position */
  
  /* Styling */
  background-color: #bbb;
  color: #533;
}

#buglist-filter-closed-button {
  /* Size and Position */
  
  /* Styling */
  background-color: #353;
}

#buglist-filter-closed-button:hover {
  /* Size and Position */
  
  /* Styling */
  background-color: #bbb;
  color: #353;
}

#buglist-filter-advanced-button {
  /* Size and Position */
  float: right;
  /* Styling */
  background-color: #33333b;
}

#buglist-filter-advanced-button:hover {
  /* Size and Position */
  
  /* Styling */
  background-color: #bbb;
  color: #33333b;
}

#buglist-list {
  /* Size and Position */
  display: inline-block;
  height: 89%;
  margin-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 9%;
  width: 98%;
  
  /* Styling */
  background-color: #222;
  overflow-y: auto;
}

#add-bug-button {
  /* Size and Position */
  display: inline;
  float: right;
  height: 30px;
  margin-right: 3px;
  width: 30px;

  /* Styling */
  background-color: #373;
  border-radius: 15px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  transition: all 0.2s ease;
}

#add-bug-button:hover {
  /* Size and Position */
  /* Styling */
  background-color: #bbb;
  color: #373;
}

.buglist-item {
  /* Size and Position */
  height: 120px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;

  /* Styling */
  background-color: #33333b;
  border-radius: 5px;
}

.buglist-item:first-of-type {
  /* Size and Position */
  margin-top: 10px;

  /* Styling */
}

.buglist-item:last-of-type {
  /* Size and Position */
  margin-bottom: 10px;

  /* Styling */
}

.buglist-item-tagline {
  /* Size and Position */
  display: inline-block;
  height: 26px;
  padding: 0 3px;
  width: 100%;

  /* Styling */
  border-bottom: 1px solid #bbb;
  border-radius: 2px;
  font-size: 1.3em;
  font-weight: bold;
}

.buglist-item-id {
  /* Size and Position */
  float: left;
  /* Styling */
}

.buglist-item-date {
  /* Size and Position */
  float: right;
  /* Styling */
}

.buglist-item-title {
  /* Size and Position */
  height: 70px;
  width: 100%;
  padding: 5px;

  /* Styling */
  background-color: #33333b;
  border-radius: 3px;
  font-size: 1.2rem;
  overflow-y: auto;
}

.open-bug {
  /* Size and Position */
  /* Styling */
  background-color: #533;
}

.closed-bug {
  /* Size and Position */
  /* Styling */
  background-color: #353;
}

.active-bug {
  /* Size and Position */
  padding-right: 3px;
  /* Styling */
  border-right: 7px solid #bbb;
}

.open-showstopper {
  /* Size and Position */
  
  /* Styling */
  background: repeating-linear-gradient(
    -45deg,
    yellow,
    yellow 20px,
    black 20px,
    black 40px
    );
}

.closed-showstopper {
  /* Size and Position */
  
  /* Styling */
  background: repeating-linear-gradient(
    -45deg,
    #220,
    #220 20px,
    black 20px,
    black 40px
    );
}